<section class="about">

  <h3 id="about-me">About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"><img src="../assets/img/Me.jpg"></div>

    <div class="icon-thumb"><img src="../assets/img/Icons/Thumb_v.png" id="thumb" /></div>
    <div class="icon-scissortail"><img src="../assets/img/Icons/Scissortail_v%20copy%202.png" id="scissortail" /></div>
    <div class="icon-soccer"><img src="../assets/img/Icons/Soccer_v%20copy.png" id="soccer" /></div>
    <div class="icon-rocket"><img src="../assets/img/Icons/Rocket_v%20copy%203.png" id="rocket" /></div>

  </div>


  <div class="blurb">
      <p><strong>Kyle Pezant</strong> is a tech loving creative type with a <span class="thumbsUp">non-conformist</span> attitude. He is passionate about learning and creating. He enjoys being the biggest <span class="lfc">Liverpool</span> FC fan in <span class="oklahoma">Oklahoma</span> and has an uncanny ability to learn things very <span class="quick">quickly</span>.</p>
  </div>

  <div class="resume-box">
  
      <div class="resume-button">
      
          
      
      </div>
    
  </div>

</section>
