<section class="about">

  <h3 id="about-me">About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"><img src="../assets/img/Me.jpg"></div>

    <div class="icon-pencil"><img src="../assets/img/Icons/Thumb_v.png" /></div>
    <div class="icon-mouse"><img src="../assets/img/Icons/Scissortail_v%20copy%202.png" /></div>
    <div class="icon-browser"><img src="../assets/img/Icons/Soccer_v%20copy.png" /></div>
    <div class="icon-video"><img src="../assets/img/Icons/Rocket_v%20copy%203.png" /></div>

  </div>


  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>

  <div class="float-box">
  
      <div class="float1"></div>
      <div class="float2"></div>
      <div class="float3"></div>
    
  </div>

</section>
