<section class="about">
  <a class="anchor" id="about-me"></a>
  <h3>About Myself & My Processes</h3>

  <div class="face-lockup">

    <div class="face-img"><img src="../assets/img/Kpez.png"></div>

    <!-- <div class="icon-thumb"><img src="../assets/img/Icons/Thumb_v.png" id="thumb" /></div>
    <div class="icon-scissortail"><img src="../assets/img/Icons/Scissortail_v%20copy%202.png" id="scissortail" /></div>
    <div class="icon-soccer"><img src="../assets/img/Icons/Soccer_v%20copy.png" id="soccer" /></div>
    <div class="icon-rocket"><img src="../assets/img/Icons/Rocket_v%20copy%203.png" id="rocket" /></div> -->
    <div class="blurb">
        <p>I am currently a User Experience Designer at PCI Energy Solutions where previously I learned about the power trading industry in Business Analyst and Project Stakeholder roles. Combining that with digital illustration skills, UX & Product Design/Research, and excellent <strong><i>interpersonal</i></strong> skills, I have been able to apply <strong><i>empathy</i></strong> based approaches to design projects with various needs.</p>
    </div>
    
  </div>

  <div class="creds_row">
    <div class="card">
      <img class="cred img" src="../assets/img/Credentials/Arizona_State_University_logo.png">
      <hr>
      <h4>Arizona State University</h4>
      <h5>M.S. Graphic Information Technology (UX/Web Dev)</h5>
    </div>
    <div class="card">
      <img class="cred img" src="../assets/img/Credentials/macu_logo.png">
      <hr>
      <h4>Mid-America Christian University</h4>
      <h5>B.S. Marketing</h5>
    </div> 
    <div class="card">
      <img class="cred img" src="../assets/img/Credentials/logo-pmi.png">
      <hr>
      <h4>Project Management Institute</h4>
      <h5>Certififed Agile Practitioner</h5>
    </div>
    <div class="card">
      <img class="cred img" src="../assets/img/Credentials/Image 11.png">
      <hr>
      <h4>ELEVTR</h4>
      <h5>UX & UI For Gaming</h5>
    </div>
    <div class="card">
      <img class="cred img" src="../assets/img/Credentials/Image 12.png">
      <hr>
      <h4>Career Foundry</h4>
      <h5>UX/UI & Front-End Dev Bootcamps</h5>
    </div>
  </div>

  <!-- <div class="cards row">
  
      <div class="card columns four card-1">
          <img class="thumbnail" src="../assets/img/thumbnail%20CF-01.jpg">
          <p>Career Foundry</p>
          <a class="button" href="#modal1" rel="modal:open">View</a>
      </div>
      
      <div class="card columns four card-2">
          <img class="thumbnail" src="../assets/img/thumbnail%20resume.jpg">
          <p>Resume'</p>
          <a class="button" href="#modal2" rel="modal:open">View</a>
      </div>
      
      <div class="card columns four card-3">
          <img class="thumbnail" src="../assets/img/okcoders%20thumb-01-01.jpg">
          <p>OK Coders</p>
          <a class="button" href="#modal3" rel="modal:open">View</a>
      </div>
    
  </div> -->

  <div class="myprocess">
    <img>
  </div>


    
  <!-- <div class="modal" id="modal1" style="display:none"; width="100%"; height="600px">
      <object id="CF" data="../assets/img/CF.pdf"></object>
      <a class="button download" href="../assets/img/CF.pdf" download>Download</a>
  </div>
    
  <div class="modal" id="modal2" style="display:none">
      <object id="resume" data="../assets/img/KPResume.pdf"></object>
      <a class="button download" href="../assets/img/KPResume.pdf" download>Download</a>
  </div>
    
  <div class="modal" id="modal3" style="display:none">
      <object id="OKCoders" data="../assets/img/okcoders.pdf"></object>
      <a class ="button download" href="../assets/img/okcoders.pdf" download>Download</a>
  </div> -->

</section>
<hr>