<section class="creative">
    <a class="anchor" id="creative"></a>
    <h3 id="creative">Creative</h3>
    <div class="container">
        <!-- heading text -->
        <ul class="image-gallery">
          <li>
            <img src="../assets/img/work/proj-3/YogaDonuts.png" alt="" />
            <div class="overlay"><span>Image title</span></div>
          </li>
          <!-- other items here -->
          <li>
            <img src="../assets/img/work/proj-3/SummitBL2022.png" alt="" />
            <div class="overlay"><span>Image title</span></div>
          </li>
          <li>
            <img src="../assets/img/work/proj-3/Mikey.png" alt="" />
            <div class="overlay"><span>Image title</span></div>
          </li>
          <li>
            <img src="../assets/img/work/proj-3/FutureDG 1.png" alt="" />
            <div class="overlay"><span>Image title</span></div>
          </li>
          <li>
            <img src="../assets/img/work/proj-3/Yogas_Pizza.png" alt="" />
            <div class="overlay"><span>Image title</span></div>
          </li>
        </ul>
      </div>
</section>
<hr>