<section class="creative">
    <a class="anchor" id="creative"></a>
    <h3 id="creative">Creative</h3>
    <div class="gallery">
        <!-- heading text -->
        <div class="image-gallery" id="samples">
          <a href="#creative1" rel="modal:open">  
            <div>
              <img src="../assets/img/work/proj-3/YogaDonuts.png" alt="" />
              <div class="overlay"><span>Hungry Yogi - Donuts</span></div>
            </div>
          </a>
          <!-- other items here -->
          <a href="#creative2" rel="modal:open">
            <div>
              <img src="../assets/img/work/proj-3/SummitBL2022.png" alt="" />
              <div class="overlay"><span>Summit Cdivmbing - Bouldering League Sticker</span></div>
            </div>
          </a>  
          <a href="#creative3" rel="modal:open"> 
            <div>
              <img src="../assets/img/work/proj-3/Mikey.png" alt="" />
              <div class="overlay"><span>Character Design - Mikey [TMNT] & Mikey [Goonies]</span></div>
            </div>
          </a>  
          <a href="#creative4" rel="modal:open">   
            <div>
              <img src="../assets/img/work/proj-3/FutureDG 1.png" alt="" />
              <div class="overlay"><span>Disc Golf - Cyber Throw</span></div>
            </div>
          </a>  
          <a href="#creative5" rel="modal:open">   
            <div>
              <img src="../assets/img/work/proj-3/Yogas_Pizza.png" alt="" />
              <div class="overlay"><span>Hungry Yogi - Pizza Time</span></div>
            </div>
          </a>  
        </div>
        
        <div class="modal" id="creative1" style="display:none">
          <img src="../assets/img/work/proj-3/YogaDonuts.png"></img>
        </div>

        <div class="modal" id="creative2" style="display:none">
          <img src="../assets/img/work/proj-3/SummitBL2022.png"></img>
        </div>

        <div class="modal" id="creative3" style="display:none">
          <img src="../assets/img/work/proj-3/Mikey.png"></img>
        </div>

        <div class="modal" id="creative4" style="display:none">
          <img src="../assets/img/work/proj-3/FutureDG 1.png"></img>
        </div>

        <div class="modal" id="creative5" style="display:none">
          <img src="../assets/img/work/proj-3/Yogas_Pizza.png"></img>
        </div>

      </div>
</section>
<hr>