<section>
    <h3 class="feat_h3">Featured UX Project</h3>
    <div class="featured1">
        <img src="../assets/img/Tattuitive.png">
        <hr>
        <p><strong>Tattuitive</strong> is a mobile application aimed at the tattoo entusiast crowd. The main objectives with this project involved designing features that would help users avoid tattoo regret, and re-enforce decision making.</p>
    </div>
</section>
<hr>
<section >
    <h3 class="feat2_h3">Featured Illustration Project</h3>
    <div class="featured2">
        <p>Digital Illustration Series, "Where the Wild Discs Go". This series is a personal project aimed at the local disc golf community. I had the pleasure of sketching, rendering, and producing stickers in three variations to help hone my digital art skills. </p>
        <hr>
        <img src="../assets/img/discthief.png">
    </div>
</section>
<hr>