<section>
    <br></br>
    <a class="anchor" id="featured"></a>
    <div class="featured1">
        <img src="../assets/img/Tattuitive.png">
        <hr>
        <div>
            <h4>Helping Users Avoid Tattoo Regret by Re-enforcing Decision Making</h4>
            <p><strong>Tattuitive</strong> is a mobile application aimed at the tattoo entusiast crowd. The main objectives with this project involved designing features that would help users avoid tattoo regret, and re-enforce decision making.</p>
            <a href='#work'><button class="featured_ux">View Case Study</button></a>
        </div>
    </div>
</section>
<hr>
<section >
    <br></br>
    <div class="featured2">
        <div>
            <h4>Digital Illustration Series, "Where the Wild Discs Go".</h4>
            <p>This series is a personal project aimed at the local disc golf community. I had the pleasure of sketching, rendering, and producing stickers in three variations to help hone my digital art skills.</p>
        </div>
        <hr>
        <img src="../assets/img/discthief.png">
    </div>
</section>
<hr>