<section>
    <br></br>
    <a class="anchor" id="featured"></a>
    <div class="featured1">
        <img src="../assets/img/work/proj-1/thumb.jpg">
        <hr>
        <div>
            <h4>PCI - KUBE UI</h4>
            <h5>Determining the need for a custom design system.</h5>
            <p><strong>KUBE UI</strong> is a living custom Design System enabling developers, designers, and product owners to create consistent experiences across a wide array of products.</p>
            <a href='#work'><button class="featured_ux">View Case Study</button></a>
        </div>
    </div>
</section>
<hr>
<section >
    <br></br>
    <div class="featured2">
        <div>
            <h4>Digital Illustration Series, "Where the Wild Discs Go".</h4>
            <p>This series is a personal project aimed at the local disc golf community. I had the pleasure of sketching, rendering, and producing stickers in three variations to help hone my digital art skills.</p>
        </div>
        <hr>
        <img src="../assets/img/discthief.png">
    </div>
</section>
<hr>