header
  position: relative
  width: 100%
  height: 600px
  overflow: hidden
  @extend %background-image
  background:
    attachment: fixed
    size: cover
    position: center center
    image: url(../img/#{$logo-path}), url(../img/#{$hero-path})
  
  h2
    margin-top: 100px
    margin-bottom: 0px
    background: -webkit-linear-gradient(83deg, #00B2A3 0%, #FF89F7 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  .logo
    +size(55px)
    float: left
    margin: 10px 0 0 30px
    img
      width: 55px
      height: 55px
    
    path
      fill: rgba(0,0,0,0.4)

  .nav-bar
    height: 75px
    width: 100%
    background-color: rgba(255,255,255,0.9)
    box-shadow: 4px 0px 3px rgba(0,0,0,0.4)
    position: fixed
    z-index: 5

  .roles
    text-align: center
    float: left
    margin: 25px 0 0 33%
    line-height: 25px

    p
      margin: 0
      padding: 5px
    
  nav
    float: right
    padding: 30px 30px 0 0

    a
      display: inline-block
      margin-left: 20px

      color: rgba(0,0,0,0.7)
      @extend %small-bold

      &:hover
        color: rgba(0,0,0,1)
    
  .headline-lockup
    width: 80%
    margin: 50px auto 0px
    display: flex
    justify-content: space-between
    

  .headline-copy
    width: 50%

    h1.headline
      font-size: 82px
      line-height: .75em

      span
        font-weight: 100
        font-size: 24px !important 

      strong
        background: -webkit-linear-gradient(83deg, #00B2A3 0%, #FF89F7 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent



  .hero-showcase
    background-image: url("../img/CottonCandy.png")
    height: 600px
    background-size: cover
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap

    img
      max-width: 500px

  h1.headline
    text-align: left
    font:
      weight: 900
    color: #464646
    text-transform: uppercase
    letter-spacing: 0.05em
    clear: both
    padding-top: 100px
    margin: 0
    
  .kicker
    @extend %small-bold
    text-align: left
    letter-spacing: 0.05em
    color: rgba(0,0,0,0.7)
    line-height: 1
    margin-top: 2em

@media (max-width: 768px)
  header

    .headline-lockup
      margin: none
      width: 100%
      padding-left: 2em

    h1.headline
      padding-top: 50px

    .roles
      margin: 23px 0px

    .hero-showcase
      width: 80%

      img
        max-width: 300px

@media (max-width: 640px)
  header
    background:
      position: bottom center
    
    h1.headline
      padding-top: 70px
      font-size: 42px !important

    .headline-lockup
      margin-top: 75px

    .nav-bar
      height: 150px
      background-color: white
    
    nav
      float: none
      text-align: center
      padding-top: 5px

    h1
      padding-top: 0px
    
    .logo
      margin: 20px auto
      float: none
      
      img
        width: 55px
        height: 55px

  .roles
    display: none

  .headline-copy

    p
      margin: 20px 0px 20px 0px