header
  position: relative
  width: 100%
  height: 475px
  overflow: hidden
  @extend %background-image
  background:
    attachment: fixed
    size: cover
    position: center center
    image: url(../img/#{$logo-path}), url(../img/#{$hero-path})

  .logo
    +size(55px)
    float: left
    margin: 10px 0 0 30px
    img
      width: 55px
      height: 55px
    
    path
      fill: rgba(0,0,0,0.4)

  .nav-bar
    height: 75px
    width: 100%
    background-color: rgba(255,255,255,0.5)
    position: fixed
    z-index: 5
    
  nav
    float: right
    padding: 30px 30px 0 0

    a
      display: inline-block
      margin-left: 20px

      color: rgba(0,0,0,0.7)
      @extend %small-bold

      &:hover
        color: rgba(0,0,0,1)
    
  .headline-lockup
    position: absolute
    width: 100%
    margin-top: 50px
    
  h1.headline
    text-align: center
    font:
      weight: 700
    color: rgba(0,0,0,0.7)
    text-transform: uppercase
    letter-spacing: 0.05em
    clear: both
    padding-top: 200px
    margin: 0
    
  .kicker
    @extend %small-bold
    text-align: center
    letter-spacing: 0.05em
    color: rgba(0,0,0,0.7)
    line-height: 1

@media (max-width: 640px)
  header
    background:
      position: bottom center
    
    .headline-lockup
      margin-top: 75px

    .nav-bar
      height: 150px
      background-color: white
    
    nav
      float: none
      text-align: center
      padding-top: 5px

    h1
      padding-top: 0px
    
    .logo
      margin: 20px auto
      float: none
      
      img
        width: 55px
        height: 55px
